<div class="container col-8 mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Liste des categories de materiels</span>
            <button class="btn btn-dark btn-md float-right" routerLink="/create-categories-materiels">Ajout categories</button>
            <table *ngIf="listCategMat.length > 0" class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th>Libelle</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let categMat of listCategMat">
                    <td>{{categMat.libelle}}</td>  
                    <td>
                        <i class="fas fa-edit fa-lg text-info mr-3" [routerLink]="['/edit-categories-materiels/', categMat.id]"></i>
                        <i (click)="deleteCategorrieMateriel(categMat.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </div>
</div>
